MASHA_AUTH_DIR=/opt/masha-auth
MASHA_AUTH_HOST=0.0.0.0
MASHA_AUTH_PORT=8443
MASHA_AUTH_TLS_CERT=/etc/letsencrypt/live/77.222.38.70/fullchain.pem
MASHA_AUTH_TLS_KEY=/etc/letsencrypt/live/77.222.38.70/privkey.pem
